
# Mac Crap (although I am no longer on Mac, if it will ever happen I use mac again or if a mac user collaborates in this repository these files that should not exist in the first place)
.DS_Store
._*

# No Windows Thumbnails
Thumbs.db

# jEdit backups/temp files
*neil#
\#*


# Syldeyn
MKL_*

# Scyndi
*.STB
